.header {
  grid-area: h;
  background-color: rgb(22, 134, 78);
  display: flex;
}
.header img {
  width: 50px;
  border-radius: 15px;
  margin: 5px 5px;
}
h1 {
  text-align: center;
  color: white;
  padding-left: 1rem;
}
h1:hover {
  color: rgb(64, 253, 17);
}
